*{
    color: white;
    margin: 0px;
    font-family: 'Figtree', sans-serif;

}


.logo{
    padding-left: 20px;
    margin-top: -70px;
}

.nav{
    display: flex;
  
}
.list{
    display: flex;
    margin-left: 100px;
    left: -50px;
}
.list li{
    margin: 10px;
    /* padding: 20px; */
    /* margin-left: 200px; */
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    font-weight: bolder;
    color: #CAF4E0;
    word-spacing: 3px;
    letter-spacing: 1.5px;
}
.list li:hover{
    cursor: pointer;
}
.navbar{
    /* max-width: 100%; */
    width: 100vw;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    position: relative;
    background-color: rgb(66, 48, 221);
    font-size: 14px;
    overflow: hidden;
    position: fixed;
    
    /* padding-bottom: -30px; */
    /* margin-bottom: -40px; */
}
.container1{
    width: 100%;
    height: 90vh;
    max-height: 100vh;
    min-height: 400px;
    object-fit: fill;
    background-color: transparent;
    background-image: url(./672c9679-c8b4-4bbb-ac87-043fdb9be636/first.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1px;
    padding-top: 0;
    padding-bottom: 60px;
    font-family: Figtree,sans-serif;
    
    /* background-color: rgb(66, 48, 221); */
}
.select option{
    padding-top: 10px;
}
.nav-btn{
    padding: 19px;
    margin-top: -20px;
    color: blue;
    background-color: #CAF4E0;
    border-radius: 10px;
    width: 10vw;
    border: none;
    box-shadow: 100px;
    z-index: 0;
    font-weight: bolder;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.nav-btn:hover{
    box-shadow: none;
    z-index: -1;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #CAF4E0;
  }
  
  .dropdown-content {
    display: none;
    padding: 10px;
    left: -55px;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px transparent;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #CAF4E0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: transparent}
  
  .dropdown:hover .dropdown-content {display: block;}
  
.vertical{
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: 100px; */
    margin-left: 50px;
    display: flex;
    top: -80px;
    
}
.container1-txt{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 65px;
    font-weight: bolder;
    margin-top: 200px;
    
    
}
.para{
    margin-top: 10px;
    font-size: medium;
    font: 18px Figtree,sans-serif;
    line-height: 30px;
    font-family: Figtree, sans-serif;
}

.horizontal{
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 100px ;
}
.horizontal img{
    margin-right: 10px;
}

.horizontal img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
.hpara {
    font-size: large;
    margin-left: 10px;
    padding-top: 5px;
    color: #CAF4E0;
}
.hpara:hover{
    cursor: pointer;
}



.logocontainer{
    
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 50px;
}
.logocontainer .img{
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
.logocontainer .img:nth-child(1),
.logocontainer .img:nth-child(2),
.logocontainer .img:nth-child(3),
.logocontainer .img:nth-child(4),
.logocontainer .img:nth-child(5),
.logocontainer .img:nth-child(6),
.logocontainer .img:nth-child(7),
.logocontainer .img:nth-child(8),
.logocontainer .img:nth-child(9),
.logocontainer .img:nth-child(10){
    display: inline-block;
}

.logobtn{
    text-align: center
}
#show-more{
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    color: #4d4d66;
    background-color: white;
    border: 1px solid rgba(170,168,255,.3);
}
#show-less{
    display: none;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    color: #4d4d66;
    background-color: white;
    border: 1px solid rgba(170,168,255,.3);
}
#show-less:hover{
    cursor: pointer;
}
#show-more:hover{
    cursor: pointer;
}

.card1{
    margin: 80px auto 100px;
    padding: 100px;
    padding-left: 125px;
    padding-right: 140px;
}
.boxcard{
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 1px solid rgba(170,168,255,.3); */
    border-radius: 20px;
    box-shadow: 0 0 50px #ece5e5;
    padding-top: 40px;
    padding-bottom: 40px;
    /* padding-left: 10px; */
    justify-content: start;
    padding-left: 100px;
}
.card1txt{
    color: #4d4d66;
    font-weight: 500;
    font-size: large;
}
.card1btn button {
    margin-left: 60px;
    padding: 25px;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: 700;
    background-color: #4230DD;
    font-size: small;
    border: none;
    border-radius: 10px;
}
.card1btn {
    margin-left: 30PX;
}
.card1btn button:hover{
    cursor: pointer;
}
.head {
    text-align: center;
    margin-bottom: 80px;
}
.head p{
    font-size: 50px;
    font-weight: 900;
   
}
.card2{
    padding: 40px;
}

.card2box{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2ff;
    border-radius: 20px;
    
}
.card2txt{
    
    padding: 60px 80px 100px;
}
.card2headind{
    padding-right: 100px;
    font-size: xx-large;
}
.card2list{
    margin-top: 40px;
    font-size: larger;
    /* color:#4d4d66 ;
     */
     padding-right: 60px;
     line-height: 30px;
     
}
.card2list ul li{
    margin-bottom: 20px;
}